/* ===== JOB LISTINGS PAGE  =================== */
h1 a {
    color: #ff3333;
}
h2 {
    color: #000000;
}
h3 {
    color: #ff3333;
}
.jv-job-list-name a {
    width: 50%;
    color: #000000;
    font-weight: bold;
}
